streamlit
transformers
torch
torchvision
sentence-transformers
scikit-learn
numpy
nltk
PyMuPDF
python-docx
python-pptx
Pillow
librosa
soundfile
opencv-python
moviepy
SpeechRecognition
sentencepiece
accelerate
pytesseract
textract
google-generativeai
python-dotenv
shap
lime
captum
diffusers[torch]
layoutlmv3
opencv-contrib-python
matplotlib
seaborn
openai-whisper